{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.9.0"},
    {lager, "3.9.2"},
    {fast_xml, "1.1.49"}
]}.

{relx, [
    {release, {xabber_ws, "1.0.0"}, [
        xabber_ws,
        cowboy,
        lager,
        fast_xml,
        sasl
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]}.

